<h1> Pedido actual </h1>
<% @orders.each do |dish, cuenta| %>
	<p> <%= dish %> (<%= cuenta %>) </p>

<% end %>

<h1>Agregar Plato</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-2" id="order-list" style="display:none"></div>
</div>

<%= render 'form' %>
<%= render :partial => 'dishes/dishesToOrders', collection:  @dishes, as: :dish, locals: {
	order: @order}  %>
<%= link_to 'Back', orders_path %>
