<% if user_signed_in? %>
    <% @mis_ordenes.each do |orden| %>
    	<div class="jumbotron">
	    	<div class="container">
	      		<h3><%= orden.id %></h3>
	      		<% orden.cuenta.each do |clave, valor| %>
	      			<%= clave %> x<%= valor %><br>
	      		<% end %>
	      		<%= orden.condition %><br>
	      		Total = $<%= orden.suma %>
	      		<%= form_for orden, url: estado_path(orden), method: :get do |f| %>
	      			<%= f.select :condition, options_for_select([["-----","nil"],["Cocina","cocina"],["Despachado","despachado"],["Pagado","pagado"]]) %>
	      			<%= f.submit "actualizar" %>
	      		<% end  %>
	      		<td><%= link_to 'Destroy', orden, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
	      	</div>
      	</div>
    <% end %>
 <% end %>