
<li class="list-group-item list-group-item-info">
  <%= dish.description %>
  <%= dish.name %>
  <span class=""><%= dish.price.to_s %></span>
   <span class="edit">
    
    <% if @order.nil? %>
      <%= link_to "Agregar", add_url(id2: dish.id), class:"btn btn-primary" %>
    <% else %>  
      <%= link_to "Agregar", add_url(id2: dish.id) + "?order_id=" + @order_id.to_s, class:"btn btn-primary" %>
    <% end %>
    
  </span>
</li>
