<!DOCTYPE html>
<html>
<head>
	<title>Restorant</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<style>
body {
	background:url(<%=asset_path '1.jpg'%>)no-repeat left top;
	background-size: 100%;
}
</style>
<body>
	<div id="main-container" class="container">
		<div class="row">
			<%= yield %>
		</div>
	</div>
</div>
</body>
</html>
